.calendar {
  margin-top: 16px;
  border-radius: 6px;
  margin-bottom: 200px;
  border: 1px solid @grey;
}

.loadingBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  height: 150px;
}
