.line {
  display: flex;
  border-bottom: 1px solid @grey;
  &:last-child {
    border-bottom: none;
  }
}

.avatarBlock {
  display: flex;
  align-items: center;
  position: relative;
  padding: 4px 4px 4px 40px;
  width: @leftSideSize;
  min-width: @leftSideSize;
  max-width: @leftSideSize;
  &__icon {
    cursor: pointer;
    transition: all 0.3s linear;
    color: @blue-6;
    position: absolute;
    font-size: 20px;
    top: 31%;
    left: 3%;
  }
  &__activeIcon {
    transform: rotate(90deg);
  }
  &__pic {
    margin-right: 15px;
  }
  &__name {
    font-size: 15px;
    line-height: normal;
    font-weight: 300;
  }
  &__subname {
    color: #4f5f69;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.65px;
  }
  &__textEllipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.event {
  height: 100%;
  overflow: hidden;
  z-index: 9;
  opacity: 0.7;
  top: 0;
  left: 0;
  padding: 4px 0;
  background-color: @grey;
  font-size: 10px;
  line-height: 1.6;
  text-overflow: ellipsis;
  letter-spacing: 0.54px;
  white-space: nowrap;
  cursor: pointer;
  position: absolute;
}

.content {
  display: flex;
  align-content: space-between;
  width: 100%;
  position: relative;
}

.line.hide {
  display: none;
}
