.line {
  display: flex;
  border-bottom: 1px solid @--color-5;
  &:last-child {
    border-bottom: none;
  }
}

.avatarBlock {
  display: flex;
  align-items: center;
  position: relative;
  padding: 4px 4px 4px 40px;
  width: @leftSideSize;
  min-width: @leftSideSize;
  max-width: @leftSideSize;
  border-right: 1px solid @--color-5;
  &__icon {
    position: absolute;
    color: blueviolet;
    font-size: 20px;
    top: 31%;
    left: 3%;
  }
  &__pic {
    margin-right: 15px;
  }
  &__name {
    font-size: 15px;
    line-height: normal;
    font-weight: 300;
  }
  &__subname {
    color: #4f5f69;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.65px;
  }
  &__textEllipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.content {
  display: flex;
  align-content: space-between;
  width: 100%;
  position: relative;
}

.line.hide {
  display: none;
}
